@media only screen and (max-width: 1150px) {
  .header {
    padding-top: 16px;
    display: block;
    background-color: $secondary-light-color;
    .background {
      margin: auto;
      display: hidden;
    }

    .image-1 {
      @include mobile-image-container;
      img {
        @include auto-margin;
        @include image-cover(90%, 400px, 0 60%);

      }
    }

    .image-2 {
      @include mobile-image-container;
      img {
        @include auto-margin;
        @include mobile-width;
      }
    }

    .image-3 {
      @include mobile-image-container;
      margin: 24px 0 0 0;
      img {
        @include auto-margin;
        @include image-cover(90%, 350px, 0 0%);

      }
    }

    .image-paprika {
      @include auto-margin;
      width: 90%;
      margin-top: 10px;
    }

    .title {
      margin: 40px 0 56px 0;
      h1 {
        font-family: $font-serif;
        @include normal-text;
        font-size: 2.3em;
        line-height: 41px;
        letter-spacing: 0.850001px;
      }
      .line-container {
        margin: auto;
        img {
          max-width: 50%;
          min-width: 275px;
          margin-bottom: 32px;
        }
      }
    }
  }

  .main {
    display: block;
    @include auto-margin;
    .quote-container {
      @include auto-margin;
      max-width: 90%;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.392px;
    }
    .image-4 {
      @include mobile-image-container;
      img {
        @include mobile-width;
      }
    }
    .post {
      @include auto-margin;
      max-width: none;
      p {
        margin-top: 1em;
        @include auto-margin;
        width: 90%;
      }
      img {
        @include mobile-image-container;
        @include auto-margin;
        @include mobile-width;
      }
    }
    .image-onion {
      margin: 60px 0 50px 0;
      @include auto-margin;
      max-width: 90%;
    }
  }
}
